:root {
  --color-primary: rgb(53, 110, 0); /* verde escuro */
  --secondary-color: #f2ffe6; /* verde claro */
  --font-size-large: 1.5rem;
}

* {
  font-size: 0.9rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.caixa {
  margin-top: 2rem;
}

.caixa-externa{
  background-color: #f8fff29a;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 5rem;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .navbar-search-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.navbar input {
  flex-grow: 1;
  margin-right: 10px;
}

.navbar .btn {
  margin-left: 10px;
}

.btn-header {
  min-width: 120px;
}

input::placeholder {
  font-size: 14px;
}
