:root {
  --color-primary: rgb(53, 110, 0);
  /* verde escuro */
  --secondary-color: #f2ffe6;
  /* verde claro */
  --font-size-large: 1.5rem;
}

*{
  font-size: 0.9rem;
}

.centralize-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centralize {
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 1600px;
  margin: 5rem 0 0 0;
  border-radius: 10px;
}

.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.spinner-border {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

main {
  padding: 1rem;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .navbar-search-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.navbar input {
  flex-grow: 1; 
  margin-right: 10px; 
}

.navbar .btn {
  margin-left: 10px; 
}

.btn {
  min-width: 100px;
}

input::placeholder {
  font-size: 14px; 
}


#tombos-container {
  overflow-y: scroll;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  height: 65vh !important;
}

#selected-tombos-container {
  overflow-y: scroll;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0px;
  border-radius: 5px;
  height: 24vh !important;
  margin-bottom: 2rem;
}

