<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/head', { title: 'Histórico de Movimentações' }) %>

   <style>
      * {
         margin: 0;
         padding: 0;
      }

      body {
         padding-top: 2.5rem;
      }

      .botoes {
         margin-bottom: 1.9rem;
      }

      .table-container {
         max-height: 55vh;
         min-height: 75vh;
         overflow-y: auto;
         overflow-x: hidden;
      }

      .table-container table {
         width: 100%;
         table-layout: fixed;
      }

      .table-container th,
      .table-container td {
         word-wrap: break-word;
         white-space: nowrap;
      }

      .table-container thead th {
         position: sticky;
         top: 0;
         background-color: #fff;
         z-index: 1;
      }

      .table-container th.tipo {
         width: 6%;
      }

      .table-container th.data {
         width: 10%;
      }

      .table-container th.quantidade {
         width: 10%;
      }

      .w-90 {
         width: 90%;
      }
   </style>

   <body>
      <%- include('../partials/header') %>

         <div class="caixa w-90 p-4 mx-auto">

            <div class=" border caixa-externa p-4 shadow-sm rounded">
               <div class="">
                  <div class="row">
                     <div class="mb-3 px-3">
                        <h2 style="border-bottom: 4px solid orange;"
                           class="text-center text-white py-2 mt-0 fw-bold bg-success"> Histórico de Movimentações </h2>
                     </div>
                  </div>
               </div>
               <div class="table-container">
                  <div id="historico-movimentacao"></div>
               </div>
            </div>
         </div>

         <script>
            async function carregarHistoricoMovimentacao() {
               const response = await fetch('/historico-movimentacao');
               const data = await response.json();
               const historicoDiv = document.getElementById('historico-movimentacao');
               historicoDiv.innerHTML = `
               <table class="table table-striped table-hover mb-0">
                  <thead class="teste" >
                  <tr >
                     <th class="tipo text-center">Tipo</th>
                     <th class="data text-center">Data</th>
                     <th>Descrição</th>
                     <th class="quantidade text-center">Quantidade</th>
                  </tr>
                  </thead>
                  <tbody>
                  ${data.map(item => `
                     <tr>
                     <td class="text-center">${item.tipo}</td>
                     <td class="text-center">${new Date(item.data).toLocaleDateString('pt-BR')}</td>
                     <td>${item.descricao}</td>
                     <td class="text-center">${item.quantidade}</td>
                     </tr>`).join('')}
                  </tbody>
               </table>
               `;
            }

            window.onload = () => {
               carregarHistoricoMovimentacao();
            };
         </script>
   </body>

</html>