<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Sistema de Controle de Estoque - COLOG</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .header-content {
            background: linear-gradient(to right, #00621D, #0BA23D);
            padding: 20px 0 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
        }


        .logo {
            width: 500px;
            margin-bottom: 10px;
        }

        .systems-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 15px;
            padding: 30px;
            cursor: pointer;
        }

        .system-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            height: 150px;
            transition: transform 0.2s, box-shadow 0.2s;
            text-decoration: none;
            color: inheri;
        }

        .system-box i {
            font-size: 2em;
            margin-bottom: 10px;
        }

        .system-box div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .system-box:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .system-box h4,
        .system-box p {
            margin: 0;
            color: inherit;
        }

        .system-box p {
            margin: 0;
        }

        .footer-content {
            border-top: 4px solid #00621D;
            color: #00621D;
            text-align: center;
            padding: 10px 0;
            width: 100%;
            position: fixed;
            bottom: 0;
        }

        .footer-content a {
            color: #FFFFF0;
            text-decoration: none;
        }

        .container-white {
            border-bottom: 4px solid orange;
            display: flex;
            justify-content: center;
            position: sticky;
            background-color: #fff;
            top: 0;
            width: 100%;
            z-index: 10;
            padding: .5rem;
        }

        .container-white {
            margin-top: -30px;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            margin: 0;
        }

        h4 {
            font-size: 1.1rem;
            font-weight: 600;
            margin: 0;
        }

        footer h4 {
            font-size: 1.1rem;
            padding-top: 1rem;
            margin-bottom: 0.3rem;
        }

        footer p {
            font-size: 0.7rem;
        }

        h5 {
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: 30px;
        }

        main {
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <header>
        <div class="row">
            <div class="header-content container-fluid me-auto">
                <img src="https://sistemas.pm.ce.gov.br/img/PM-SSPDSclara.png" alt="Polícia Militar Logo" class="logo">
            </div>
        </div>

        <div class="container-white container">
            <h3>Painel de Controle</h3>
        </div>

    </header>

    <main class="container bg-light border">
        <div class="systems-grid">
            <a href="/entrada" class="system-box link">
                <div>
                    <i class="fas fa-sign-in-alt text-success fa-2x"></i>
                    <h4 class="text-success">Formulário de Entrada</h4>
                    <p class="text-success">Formulário de Entrada</p>
                </div>
            </a>
            <a href="/saida" class="system-box link">
                <div>
                    <i class="fas fa-sign-out-alt text-success fa-2x"></i>
                    <h4 class="text-success">Formulário de Saída</h4>
                    <p class="text-success">Formulário de Saída</p>
                </div>
            </a>
            <a href="/tabela/estoqueatual" class="system-box link">
                <div>
                    <i class="fas fa-box-open text-success fa-2x"></i>
                    <h4 class="text-success">Tabela do Estoque Atual</h4>
                    <p class="text-success">Estoque Atual</p>
                </div>
            </a>
            <a href="/qtde-unica" class="system-box link">
                <div>
                    <i class="fas fa-list-ol text-success fa-2x"></i>
                    <h4 class="text-success">Quantidade De itens</h4>
                    <p class="text-success">Descrição e quantidade de itens disponíveis</p>
                </div>
            </a>
            <a href="/estoque/itenspagos" class="system-box link">
                <div>
                    <i class="fas fa-boxes text-success fa-2x"></i>
                    <h4 class="text-success">Tabela dos Itens que Sairam do estoque</h4>
                    <p class="text-success">Itens Pagos</p>
                </div>
            </a>
            <a href="/relatorios" class="system-box link">
                <div>
                    <i class="fas fa-chart-line text-success fa-2x"></i>
                    <h4 class="text-success">Relatório de quantidade</h4>
                    <p class="text-success">Relatórios</p>
                </div>
            </a>
            <a href="/pesquisa-avancada-page" class="system-box link">
                <div>
                    <i class="fas fa-search text-success fa-2x"></i>
                    <h4 class="text-success">Pesquisas</h4>
                    <p class="text-success">Pesquisa Avançada</p>
                </div>
            </a>
            <a href="/historico-movimentacao-page" class="system-box link">
                <div>
                    <i class="fas fa-history text-success fa-2x"></i>
                    <h4 class="text-success">Histórico Geral</h4>
                    <p class="text-success">Histórico de Entradas / Saídas</p>
                </div>
            </a>
        </div>
    </main>
    
    <footer>
        <div class="footer-content ">
            <h4>COLOG - Comando Logistico da PMCE</h4>
            <h5 class="mb-0 fw-bold">CEGPA / NUCPA</h5>
            <div class="hr-div d-flex justify-content-center">
                <hr class="w-25 m-1 ">

            </div>
            <p class="m-0">R. Carlos Araújo, S/N - Olavo Oliveira</p>
            <p class="">Fone: 85 3101.3570 / 3101.3571 - E-mail: informatica@policiamilitar.ce.gov.br <br>
                Horário de funcionamento: <br>De segunda a sexta de 8h às 12h e de 13h às 16:30hs</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>