
<!-- breadcrumb -->
<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/painel">Painel de Controle</a></li>
        <li class="breadcrumb-item active text-danger fw-bold" aria-current="page"><%= pageTitle %></li>
    </ol>
</div>
