<nav class="navbar navbar-expand-lg py-3 navbar-light bg-success d-flex justify-content-between">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100 mx-5">
        <div class="col-auto">
          <a class="navbar-brand text-white" href="#">CEGPA / Controle de Estoque</a>
        </div>
        <div class="col-auto d-flex align-items-center">
          <form class="d-flex align-items-center w-100">
            <a href="/entrada" class=" btn btn-outline-light mx-2 w-100 btn-adm fw-bold">Entrada</a>
            <a href="/saida" class=" btn btn-outline-light mx-2 w-100 btn-adm fw-bold">Saída</a>
            <a href="/tabela" class=" btn btn-outline-light mx-2 w-100 btn-adm fw-bold">Tabela</a>
          </form>
        </div>
      </div>
    </div>
  </nav>
  